
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    padding: 15px 40px;
}

.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: #1abc9c;
}


.hero {
    height: 85vh;
    background: url("Hero.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.hero-overlay {
    position: relative;
    text-align: center;
    color: white;
}

.hero-overlay h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-overlay p {
    font-size: 20px;
    margin-bottom: 30px;
}

.cta-btn {
    padding: 12px 24px;
    background-color: #1abc9c;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.cta-btn:hover {
    background-color: #16a085;
}
